<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="/css/client.css">
    
    <script src='/js/client.js' ></script>

    <title>Middleman</title>
</head>

<body>
    <h1>Welcome,
        <%= user.firstName%>!
    </h1>
    <div class="problemsUpdatesList">        
        <img class="backgroundImg" src="/img/rectangle.png"/>
        <div class="problemsList">
            <div class="problemsListHeader">
                <h2>
                    Problems
                </h2>
                <div id="problems">
                    <% if(problems != null) { %>
                        <% problems.sort(function(a, b) {return b.totalTime - a.totalTime;}); %>
                        <% problems.forEach(function(problem){ %>
                            <% if(problem.status !== 'completed') { %>
                                <li id="problem<%= problem._id %>" onclick="toggleUpdatesForProblem('<%= problem._id %>')">
                                    <p>
                                        <%= problem.summary %>
                                    </p>
                                    <form action="/problem/<%= problem._id %>" method="get">
                                        <input type='submit' value='Details' />
                                    </form>                                
                                </li>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="updatesList">
            <div class="updatesListHeader">
                <h2>
                    Updates
                </h2>
                <div id="updates">
                    <% if(problems != null) { %>
                        <% problems.forEach(function(problem){ %>
                            <% if(problem.status !== 'completed') { %>
                                <% if(updates[problem._id] != null) { %>
                                    <% updates[problem._id].forEach(function(update){ %>
                                        <li class="updatesForProblem<%= problem._id %>" style="display: none">
                                            <p>
                                                <script>document.write(new Date("<%= update.timestamp %> UTC").toString());</script> - <%= update.authorFirstName %>: <%= update.update %>
                                            </p>
                                        </li>
                                    <% }); %>
                                <% } %>
                            <% } %>                    
                            <form class="inputChat" id="inputChat<%= problem._id %>" action="/problem/<%= problem._id %>" method="post" style="display: none">
                                <input type="hidden" name="backPath" value="/auth/client"/>
                                <textarea rows="2" name="update" placeholder="Update"></textarea>
                                <input type="submit" value="Send" />
                            </form>
                        <% }); %>
                        <% if(typeof(openProblemID) !== 'undefined') { %>
                            <style>
                                .updatesForProblem<%= openProblemID %> {
                                    display: block;
                                }

                                #inputChat<%= openProblemID %> {
                                    display: block;
                                }
                            </style>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <form id="completed" action="/auth/completed" method="get">
        <input type="submit" value="Completed">
    </form>
    <form id="newProblem" action="/auth/logProblem" method="get">
        <input type="submit" value="New Problem">
    </form>
    <form id="profileSettings" action="/auth/profileSettings" method="get">
        <input type="submit" value="Profile Settings">
    </form>
    <form id="logOut" action="/auth/logOut" method="post">
        <input type="submit" value="Log out">
    </form>
</body>

</html>
