<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Solverly - Task details</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>

	<script type="text/javascript" src="/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/js/pages/task_detailed.js"></script>
	<!-- /theme JS files -->
    <script>
        function sendComment() {
            console.log("Comment submited");
            console.log(document.getElementById("add-comment").value);
            document.getElementById("add-comment").innerHTML = document.getElementById("add-comment").innerHTML.replace("<p>", "");
            document.getElementById("sendCommentForm").submit();
        }

        function sendCompleted() {
            document.getElementById("formCompleted").submit();
        }
        
        function logOut() {
            document.getElementById("logOut").submit();
        }
    </script>
</head>

<body class="sidebar-xs">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="https://solverly.io/"><img src="/assets/images/logo_light.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="/assets/images/placeholder.jpg" alt="">
						<span><%= user.firstName %></span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
                        <!--
						<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
						<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
						<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
						<li class="divider"></li>
                        -->
						<li><a href="/auth/profileSettings"><i class="icon-cog5"></i> Account settings</a></li>
						<li><a href="#" onclick="logOut()"><i class="icon-switch2"></i> Logout</a></li>
                        <form style="display: none" id="logOut" action="/auth/logOut" method="post">
                        </form>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	

	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Task Manager</span> - Detailed</h4>

				<ul class="breadcrumb breadcrumb-caret position-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="task_manager_detailed.html">Task manager</a></li>
					<li class="active">Detailed</li>
				</ul>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Detailed task -->
				<div class="row">
					<div class="col-lg-9">

						<!-- Task overview -->
						<div class="panel panel-flat">
							<div class="panel-heading mt-5">
								<h5 class="panel-title">#<%= result._id %>: <%= result.summary %></h5>
								<div class="heading-elements">
									<a href="#" class="btn bg-teal-400 btn-sm btn-labeled btn-labeled-right heading-btn">Check in <b><i class="icon-alarm-check"></i></b></a>
			                	</div>
							</div>
                            
							<div class="panel-body">
								<h6 class="text-semibold">Description</h6>
								<p class="content-group"><%= result.description %></p>
                               
							</div>

					    	<div class="panel-footer">
								<div class="heading-elements">
									<ul class="list-inline list-inline-condensed heading-text">
										<li><span class="status-mark border-blue position-left"></span> Status:</li>
										<li class="dropdown">
											<a href="#" class="text-default text-semibold dropdown-toggle" data-toggle="dropdown"><%= result.status %> <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li class="active"><a>Open</a></li>
												<li onclick="sendCompleted()"><a>Completed</a></li>
                                                <% if(result.user.type === "fixer" && result.status === "onGoing" && typeof     result.requestCompletedFixer == 'undefined') { %>
                                                    <form id="formCompleted" action="/problem/complete/<%= result._id %>" method="post" style="display: none">
                                                        <input type="submit" value="Mark as complete" />
                                                    </form>
                                                <% } %>
                                                <% if(result.user.type === "handler" && result.status === "onGoing") { %>
                                                    <form id="formCompleted" action="/problem/complete/<%= result._id %>" method="post" style="display: none">
                                                        <input type="submit" value="Mark as complete" />
                                                    </form>
                                                <% } %>
											</ul>
										</li>
									</ul>

									<ul class="list-inline list-inline-condensed heading-text pull-right">
										<li><a href="#" class="text-default"><i class="icon-compose"></i></a></li>
										<li><a href="#" class="text-default"><i class="icon-trash"></i></a></li>
										<li class="dropdown">
											<a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-grid-alt"></i> <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
												<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
												<li><a href="#"><i class="icon-user-plus"></i> Assign users</a></li>
												<li><a href="#"><i class="icon-warning2"></i> Report</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /task overview -->


						<!-- Comments -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h5 class="panel-title text-semiold"><i class="icon-bubbles4 position-left"></i> Comments</h5>
								<div class="heading-elements">
									<a href="#" class="btn bg-blue btn-xs btn-icon"><i class="icon-plus2"></i></a>
			                	</div>
							</div>

							<div class="panel-body">
                                <form id="sendCommentForm" action="/problem/<%= result._id %>" method="post">
                                    <h6 class="text-semibold"><i class="icon-pencil7 position-left"></i> Your comment</h6>
                                    <div class="content-group">
                                        <textarea rows="3" style="width: 100%" name="update" id="add-comment"></textarea>
                                    </div>
                                    <!--<input type="hidden" id="hiddenUpdate" name="update" /> -->

                                    <div class="text-right">
                                        <button type="button" class="btn bg-blue" onclick="sendComment()"><i class="icon-plus22"></i> Add comment</button>
                                    </div>
                                </form>
                                
								<ul class="media-list content-group-lg stack-media-on-mobile">
                                    <% result.updates.sort(function (a, b) { return b.totalTime - a.totalTime;}); %>
                                    <% for(var i = 0; i < result.updates.length; i ++) { %>
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#"><img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                            </div>

                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <a href="#" class="text-semibold"><%= result.updates[i].authorFirstName %></a>
                                                    <span class="media-annotation dotted"><%= result.updates[i].timestamp %></span>
                                                </div>

                                                <p><%= result.updates[i].update %></p>
                                            </div>
                                        </li>
                                    <% } %>
								</ul>

                                
							</div>
						</div>
						<!-- /comments -->

					</div>

					<div class="col-lg-3">

						

					</div>
				</div>
				<!-- /detailed task -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


	<!-- Footer
	<div class="footer text-muted">
		&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
	</div>
	<!-- /footer -->

</body>
</html>
