<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solverly - Task manager</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/tasks_grid.js"></script>
    <!-- /theme JS files -->
    <script>
        function submitFormUnassigned(id) {
            document.getElementById("formUnassigned" + id).submit();
        }
        
        function logOut() {
            document.getElementById("logOut").submit();
        }
    </script>
</head>

<body class="sidebar-xs">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://solverly.io/"><img src="/assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            
            <ul class="nav navbar-nav navbar-right">
            
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
						<img src="/assets/images/placeholder.jpg" alt="">
						<span><%= user.firstName %></span>
						<i class="caret"></i>
					</a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <!--
                        <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                        <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                        <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                        <li class="divider"></li>
                        -->
                        <li><a href="/auth/profileSettings"><i class="icon-cog5"></i> Account settings</a></li>
                        <li><a href="#" onclick="logOut()"><i class="icon-switch2"></i> Logout</a></li>
                        <form style="display: none" id="logOut" action="/auth/logOut" method="post">
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->


    

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Task Manager</span> - Grid</h4>

                <ul class="breadcrumb breadcrumb-caret position-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="task_manager_grid.html">Task manager</a></li>
                    <li class="active">Grid</li>
                </ul>
            </div>

            <% if(user.type == "client") { %>
                <div class="heading-elements">
                    <a href="/auth/logProblem" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> Create task</a>
                    <a href="/auth/profileSettings" class="btn btn-default btn-icon heading-btn"><i class="icon-gear"></i></a>
                </div>
            <% } %>
        </div>
    </div>
    <!-- /page header -->


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            


            <!-- Main content -->
            <div class="content-wrapper">

               
                
                <% var priority = { "red": "label-danger", "yellow": "label-primary", "green": "label-success"}; %>
                <% var priorityName = { "red": "High", "yellow": "Normal", "green": "Low"}; %>
                
                <% for(var i = 0; i < problems.length; i += 2) { %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel border-left-lg border-left-primary">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h6 class="no-margin-top"><a href="/problem/<%= problems[i]._id %>">#<%= problems[i]._id %>. <%= problems[i].summary %></a></h6>
                                            <p class="mb-15"><%= problems[i].description %></p>
                                        </div>

                                        <div class="col-md-4">
                                            <ul class="list task-details">
                                                <% var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; var date = new Date(problems[i].totalTime); %>
                                                <li><%= date.getDate() %> <%= monthNames[date.getMonth()] %> <%= date.getFullYear() %></li>
                                                <li class="dropdown">
                                                    Priority: &nbsp;
                                                    <a href="#" class="label <%= priority[problems[i].priority] %> dropdown-toggle" data-toggle="dropdown"><%= priorityName[problems[i].priority] %> <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="#"><span class="status-mark position-left bg-danger"></span> High priority</a></li>
                                                        <li class="active"><a href="#"><span class="status-mark position-left bg-primary"></span> Normal priority</a></li>
                                                        <li><a href="#"><span class="status-mark position-left bg-success"></span> Low priority</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#"><%= problems[i].address %></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <%  if(problems[i].status == "onGoing") { var myDate = problems[i].deadline; myDate = myDate.split("-"); var newDate = myDate[0] + "/" + myDate[1] + "/" + myDate[2]; var deadlineTimestamp = new Date(newDate).getTime(); } %>
                                
                                <div class="panel-footer panel-footer-condensed">
                                    <div class="heading-elements">
                                        <% if(problems[i].status == "onGoing") { %>
                                            <span class="heading-text">Due: <span class="text-semibold"><%= Math.round((deadlineTimestamp - new Date().getTime()) / 3600000) %> hours</span></span>
                                        <% } %>

                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li class="dropdown">
                                                <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Open <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li class="active"><a href="#">Open</a></li>
                                                    <li><a href="#">On hold</a></li>
                                                    <li><a href="#">Resolved</a></li>
                                                    <li><a href="#">Closed</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Dublicate</a></li>
                                                    <li><a href="#">Invalid</a></li>
                                                    <li><a href="#">Wontfix</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                                    <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                                    <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                                    <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <% if (i + 1 < problems.length) { %>
                            <div class="col-md-6">
                                <div class="panel border-left-lg border-left-primary">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h6 class="no-margin-top"><a href="/problem/<%= problems[i + 1]._id %>">#<%= problems[i + 1]._id %>. <%= problems[i + 1].summary %></a></h6>
                                                <p class="mb-15"><%= problems[i + 1].description %></p>
                                            </div>

                                            <div class="col-md-4">
                                                <ul class="list task-details">
                                                    <% var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; var date = new Date(problems[i + 1].totalTime); %>
                                                    <li><%= date.getDate() %> <%= monthNames[date.getMonth()] %> <%= date.getFullYear() %></li>
                                                    <li class="dropdown">
                                                        Priority: &nbsp;
                                                        <a href="#" class="label <%= priority[problems[i + 1].priority] %> dropdown-toggle" data-toggle="dropdown"><%= priorityName[problems[i + 1].priority] %> <span class="caret"></span></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><span class="status-mark position-left bg-danger"></span> High priority</a></li>
                                                            <li class="active"><a href="#"><span class="status-mark position-left bg-primary"></span> Normal priority</a></li>
                                                            <li><a href="#"><span class="status-mark position-left bg-success"></span> Low priority</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><%= problems[i + 1].address %></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <% if(problems[i].status == "onGoing") { var myDate = problems[i + 1].deadline; myDate = myDate.split("-"); var newDate = myDate[0] + "/" + myDate[1] + "/" + myDate[2]; var deadlineTimestamp = new Date(newDate).getTime(); console.log(deadlineTimestamp) } %>

                                    <div class="panel-footer panel-footer-condensed">
                                        <div class="heading-elements">
                                            <% if(problems[i].status == "onGoing") { %>
                                                <span class="heading-text">Due: <span class="text-semibold"><%= Math.round((deadlineTimestamp - new Date().getTime()) / 3600000) %> hours</span></span>
                                            <% } %>

                                            <ul class="list-inline list-inline-condensed heading-text pull-right">
                                                <li class="dropdown">
                                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Open <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class="active"><a href="#">Open</a></li>
                                                        <li><a href="#">On hold</a></li>
                                                        <li><a href="#">Resolved</a></li>
                                                        <li><a href="#">Closed</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Dublicate</a></li>
                                                        <li><a href="#">Invalid</a></li>
                                                        <li><a href="#">Wontfix</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                                        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                                        <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                                        <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                
                <% if (typeof problemsUnassigned !== 'undefined' && problemsUnassigned.length > 0) { %>

                    <div class="text-center content-group text-muted content-divider">
                        <span class="pt-10 pb-10">Unassigned Website</span>
                    </div>

                    <% for(var i = 0; i < problemsUnassigned.length; i += 2) { %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel border-left-lg border-left-primary">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h6 class="no-margin-top"><a href="/problem/<%= problemsUnassigned[i]._id %>">#<%= problemsUnassigned[i]._id %>. <%= problemsUnassigned[i].summary %></a></h6>
                                                <p class="mb-15"><%= problemsUnassigned[i].description %></p>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="list task-details">
                                                    <form id="formUnassigned<%= problemsUnassigned[i]._id %>" action="" method="post">
                                                        <input name="id" type="hidden" value="<%= problemsUnassigned[i]._id %>" />
                                                        <!--<input name="type" type="text" placeholder="Problem type" required/><br/>-->
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <select name="type" class="form-control" required>
                                                                    <option value="opt1">Option 1</option>
                                                                    <option value="opt2">Option 2</option>
                                                                    <option value="opt3">Option 3</option>
                                                                    <option value="opt4">Option 4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <input name="fixer" type="email" placeholder="Fixer" required class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-10">
                                                                <input name="deadline" class="form-control" type="date" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <select name="priority" class="form-control" required>
                                                                    <option value="red">High priority</option>
                                                                    <option selected value="yellow">Normal priority</option>
                                                                    <option value="green">Low priority</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="text-right">
                                                            <button type="submit" class="btn btn-primary" onclick="submitFormUnassigned(<%= problemsUnassigned[i]._id %>)">Save <i class="icon-arrow-right14 position-right"></i></button>
                                                        </div>
                                                    </form>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer panel-footer-condensed">
                                        <div class="heading-elements">
                                            <ul class="list-inline list-inline-condensed heading-text pull-right">
                                                <li class="dropdown">
                                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Open <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class="active"><a href="#">Open</a></li>
                                                        <li><a href="#">On hold</a></li>
                                                        <li><a href="#">Resolved</a></li>
                                                        <li><a href="#">Closed</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Dublicate</a></li>
                                                        <li><a href="#">Invalid</a></li>
                                                        <li><a href="#">Wontfix</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                                        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                                        <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                                        <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% if (i + 1 < problemsUnassigned.length) { %>
                                <div class="col-md-6">
                                    <div class="panel border-left-lg border-left-primary">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h6 class="no-margin-top"><a href="/problem/<%= problemsUnassigned[i + 1]._id %>">#<%= problemsUnassigned[i + 1]._id %>. <%= problemsUnassigned[i + 1].summary %></a></h6>
                                                    <p class="mb-15"><%= problemsUnassigned[i + 1].description %></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <form id="formUnassigned<%= problemsUnassigned[i + 1]._id %>" action="" method="post">
                                                        <input name="id" type="hidden" value="<%= problemsUnassigned[i + 1]._id %>" />
                                                        <!--<input name="type" type="text" placeholder="Problem type" required/><br/>-->
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <select name="type" class="form-control" required>
                                                                    <option value="opt1">Option 1</option>
                                                                    <option value="opt2">Option 2</option>
                                                                    <option value="opt3">Option 3</option>
                                                                    <option value="opt4">Option 4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <input name="fixer" type="email" placeholder="Fixer" required class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-10">
                                                                <input name="deadline" class="form-control" type="date" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <select name="priority" class="form-control" required>
                                                                    <option value="red">High priority</option>
                                                                    <option selected value="yellow">Normal priority</option>
                                                                    <option value="green">Low priority</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="text-right">
                                                            <button type="submit" class="btn btn-primary" onclick="submitFormUnassigned(<%= problemsUnassigned[i + 1]._id %>)">Save <i class="icon-arrow-right14 position-right"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-footer panel-footer-condensed">
                                            <div class="heading-elements">
                                                <ul class="list-inline list-inline-condensed heading-text pull-right">
                                                    <li class="dropdown">
                                                        <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Open <span class="caret"></span></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li class="active"><a href="#">Open</a></li>
                                                            <li><a href="#">On hold</a></li>
                                                            <li><a href="#">Resolved</a></li>
                                                            <li><a href="#">Closed</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Dublicate</a></li>
                                                            <li><a href="#">Invalid</a></li>
                                                            <li><a href="#">Wontfix</a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                                            <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                                            <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                                            <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
                
                <% if (typeof emailProblems !== 'undefined' && emailProblems.length > 0) { %>

                    <div class="text-center content-group text-muted content-divider">
                        <span class="pt-10 pb-10">Unassigned Mail</span>
                    </div>

                    <% for(var i = 0; i < emailProblems.length; i += 2) { %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel border-left-lg border-left-primary">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h6 class="no-margin-top"><a href="/problem/<%= emailProblems[i]._id %>">#<%= emailProblems[i]._id %>. <%= emailProblems[i].subject %></a></h6>
                                                <p class="mb-15"><%= emailProblems[i].body %></p>
                                            </div>
                                            <div class="col-md-4">
                                                <form id="formUnassigned<%= emailProblems[i]._id %>" action='/auth/email/logProblem' method='post'>
                                                    <input name="id" type="hidden" value="<%= emailProblems[i]._id %>" />
                                                    <!--<input name="type" type="text" placeholder="Problem type" required/><br/>-->
                                                    <div class="form-group">
                                                        <div class="col-lg-10">
                                                            <input id="inputAddress" name="address" type="text" class="form-control"  placeholder="Flat, Street Address, City, State, ZIP, etc">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-10">
                                                            <input type="tel" pattern='^\+?\d{0,13}' name="phone" placeholder="Phone number" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-10">
                                                            <select name="type" class="form-control" required>
                                                                <option value="opt1">Option 1</option>
                                                                <option value="opt2">Option 2</option>
                                                                <option value="opt3">Option 3</option>
                                                                <option value="opt4">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-10">
                                                            <input name="fixer" type="email" placeholder="Fixer" required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-10">
                                                            <input name="deadline" class="form-control" type="date" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-10">
                                                            <select name="priority" class="form-control" required>
                                                                <option value="red">High priority</option>
                                                                <option selected value="yellow">Normal priority</option>
                                                                <option value="green">Low priority</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-primary" onclick="submitFormUnassigned(<%= emailProblems[i]._id %>)">Save <i class="icon-arrow-right14 position-right"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer panel-footer-condensed">
                                        <div class="heading-elements">
                                            <ul class="list-inline list-inline-condensed heading-text pull-right">
                                                <li class="dropdown">
                                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Open <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class="active"><a href="#">Open</a></li>
                                                        <li><a href="#">On hold</a></li>
                                                        <li><a href="#">Resolved</a></li>
                                                        <li><a href="#">Closed</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Dublicate</a></li>
                                                        <li><a href="#">Invalid</a></li>
                                                        <li><a href="#">Wontfix</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                                        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                                        <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                                        <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% if (i + 1 < emailProblems.length) { %>
                                <div class="col-md-6">
                                    <div class="panel border-left-lg border-left-primary">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h6 class="no-margin-top"><a href="/problem/<%= emailProblems[i + 1]._id %>">#<%= emailProblems[i + 1]._id %>. <%= emailProblems[i + 1].subject %></a></h6>
                                                    <p class="mb-15"><%= emailProblems[i + 1].body %></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <form id="formUnassigned<%= emailProblems[i + 1]._id %>" action='/auth/email/logProblem' method='post'>
                                                        <input name="id" type="hidden" value="<%= emailProblems[i + 1]._id %>" />
                                                        <!--<input name="type" type="text" placeholder="Problem type" required/><br/>-->
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <input id="inputAddress" name="address" type="text" class="form-control"  placeholder="Flat, Street Address, City, State, ZIP, etc">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <input type="tel" pattern='^\+?\d{0,13}' name="phone" placeholder="Phone number" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <select name="type" class="form-control" required>
                                                                    <option value="opt1">Option 1</option>
                                                                    <option value="opt2">Option 2</option>
                                                                    <option value="opt3">Option 3</option>
                                                                    <option value="opt4">Option 4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <input name="fixer" type="email" placeholder="Fixer" required class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-10">
                                                                <input name="deadline" class="form-control" type="date" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10">
                                                                <select name="priority" class="form-control" required>
                                                                    <option value="red">High priority</option>
                                                                    <option selected value="yellow">Normal priority</option>
                                                                    <option value="green">Low priority</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="text-right">
                                                            <button type="submit" class="btn btn-primary" onclick="submitFormUnassigned(<%= emailProblems[i + 1]._id %>)">Save <i class="icon-arrow-right14 position-right"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-footer panel-footer-condensed">
                                            <div class="heading-elements">
                                                <ul class="list-inline list-inline-condensed heading-text pull-right">
                                                    <li class="dropdown">
                                                        <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Open <span class="caret"></span></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li class="active"><a href="#">Open</a></li>
                                                            <li><a href="#">On hold</a></li>
                                                            <li><a href="#">Resolved</a></li>
                                                            <li><a href="#">Closed</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Dublicate</a></li>
                                                            <li><a href="#">Invalid</a></li>
                                                            <li><a href="#">Wontfix</a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                                            <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                                            <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                                            <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
                <!-- /tasks grid -->


                

            </div>
            <!-- /main content -->


        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->


    <!-- Footer
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

</body>

</html>
